<div class="py-20 bg-gradient-to-b from-gray-50 to-transparent">

    <section class="py-20">
         <h2 class="text-3xl md:text-4xl font-bold text-[#1a1b50] mb-4 animate-text text-center">
          Notre histoire
        </h2>
     <p class="text-gray-600 max-w-2xl mx-auto text-center">
        Créée dans un contexte marqué par les défis croissants de gestion des déchets et de salubrité publique dans la ville de Kinshasa,
        KIN PRESTIQUE PROPRETE s'est donné pour mission de proposer à ses clients des solutions professionnelles et durables dans les domaines
        de la gestion des déchets, du nettoyage des bâtiments et des services sanitaires spécialisés (3D:dératisation, désinsectisation et désinfection).
      </p>

       <p class="text-gray-600 max-w-2xl mx-auto text-center mt-3">
        KIN PRESTIGE PROPRETE est une société de droit congolais reconnue et identifiée par le ministère
        national de l'économie, agrée par le ministère provincial de l'environnement de la Ville de Kinshasa
        et dûment autorisée par la Régie de gestion des déchets de Kinshasa (REGEDEK) à exercer les activités de pré-collecte et d'évacuation des déchets.
      </p>
    </section>

      <section class="py-20 pb-[30%] lg:pb-[15%]">
        <div class="grid lg:grid-cols-2 container gap-3">
<div>
        <h2 class="text-3xl md:text-4xl font-bold text-[#1a1b50] mb-4 animate-text text-center">
          Notre mission
        </h2>
     <p class="text-gray-600 text-center">
      La mission  de KIN PRESTIGE PROPRETE est de fournir des solutions professionnelles de gestion des déchets,
      de nettoyage et de salubrité afin de garantir un cadre de vie et travail propre au sein des entreprises, institutions
      et espaces de vie dans la ville de Kinshasa. <br/>
      A travers ses activités, l'entreprise contribue notamment à :
     </p>
     <ul class="text-gray-600  mt-3 text-center">
        <li class="bg-gray-100 py-3 rounded-md">Améliorer la gestion des déchets dans les espaces professionnels ;</li>
        <li class="bg-gray-100 py-3 mt-3 rounded-md">Assurer la propreté et l'entretien des infrastructures et des lieux de travail ;</li>
        <li class="bg-gray-100 py-3 mt-3 rounded-md">Prévenir les risques sanitaires grâce aux services de dératisation, désinsectisation et désinfection ;</li>
        <li class="bg-gray-100 py-3 mt-3 rounded-md">Promouvoir les bonnes pratiques de salubrité et d'hygiène ;</li>
        <li class="bg-gray-100 py-3 mt-3 rounded-md">Accompagner les organisations dans la gestion responsable de leurs déchets.</li>
    </ul>
</div>
<div>
<img src="images/2.jpeg" class="mt-3 rounded-md"/>
</div>
        </div>
      </section>

</div>