<div class="relative overflow-hidden">
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>


<div *ngIf="showCookieModal" 
     class="fixed bottom-0 left-0 w-full bg-white shadow-lg p-6 z-50 rounded-lg">

  <div class="max-w-5xl mx-auto flex flex-col md:flex-row items-center justify-between gap-4">

    <p class="text-gray-700">
      Ce site utilise des cookies pour améliorer votre expérience.
    </p>

    <div class="flex gap-3">
      <button 
        (click)="acceptCookies()"
        class="bg-green-500 text-white px-4 py-2 rounded">
        Accepter
      </button>

      <button 
        (click)="refuseCookies()"
        class="bg-gray-400 text-white px-4 py-2 rounded">
        Refuser
      </button>
    </div>

  </div>
</div>

<div *ngIf="showCookieModal" class="fixed bg-black/70 top-0 bottom-0 left-0 right-0 z-40">

</div>

<div *ngIf="loading" class="fixed bg-white/60 top-0 left-0 bottom-0 right-0 z-50 flex justify-center items-center">
   <div>
    <div class="spinner-border text-green-500" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
   </div>
</div>


<!-- Bouton retour en haut - modifié avec condition *ngIf -->
<button 
  *ngIf="showScrollButton"
  (click)="scrollToTop()"
  class="fixed bottom-6 right-6 bg-green-500 hover:bg-green-600 text-white w-14 h-14 rounded-full shadow-md transition-all duration-300 hover:shadow-lg flex items-center justify-center focus:outline-none focus:ring-4 focus:ring-green-300 z-50" 
  aria-label="Retour en haut">
  <i class="fa-solid fa-chevron-up text-xl"></i>
</button>